                // font-family: 'Merriweather', serif;
                // font-family: 'Nunito Sans', sans-serif;
                // font-family: 'Oxygen', sans-serif;
                // font-family: 'Courgette', cursive;
                .container {
                    margin: 0;
                    height: auto;
                    width: 100%;
                    background-color: rgb(252, 248, 248);
                    box-sizing: border-box;
                }
                
                .white {
                    background-color: white;
                }
                
                li {
                    list-style: none;
                }
                
                .wtab {
                    padding: 02px;
                    height: 50px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    background-color: white;
                    color: rgb(53, 8, 252);
                    font-family: 'Courgette', cursive;
                    .tabimg {
                        height: 100px;
                        width: auto;
                        padding: 2px;
                        margin: -30px;
                    }
                    .a1 {
                        display: inline-block;
                        flex-direction: row;
                        justify-content: flex-end;
                        padding: 5px;
                        color: rgb(12, 12, 12);
                        font-family: 'Merriweather', serif;
                        margin: 10px;
                        width: 102%;
                        text-decoration: none;
                    }
                    a:hover {
                        color: rgb(216, 31, 62);
                    }
                    #Rl {
                        color: rgb(75, 75, 207);
                        display: flex;
                        flex-direction: row;
                        padding: 2px;
                    }
                }
                
                .p {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 100%;
                    align-items: center;
                    background-color: rgb(87, 87, 136);
                    padding: 10px;
                }
                
                .h {
                    margin: -10px;
                    font-family: 'Oxygen', sans-serif;
                    color: white;
                    background-color: rgb(24, 0, 56);
                    opacity: 1.2;
                    padding: 10px;
                    width: 102%;
                    text-align: center;
                    animation-duration: 3s;
                    animation-name: slidein;
                }
                
                @keyframes slidein {
                    from {
                        margin-left: 100%;
                        width: 300%;
                    }
                    to {
                        margin-left: 0%;
                        width: 100%;
                    }
                }
                
                .margin.h1 {
                    margin-left: 0px;
                }
                
                .q {
                    margin: -10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
                
                p {
                    margin-left: 150px;
                }
                
                .row {
                    display: flex;
                    flex-direction: row;
                    margin: 10px;
                    padding: 10px;
                    background-color: white;
                    width: 100%;
                }
                
                li {
                    padding: 10px;
                    font-family: 'Oxygen', sans-serif;
                    margin: 10px;
                }
                
                .column {
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    width: 100%;
                }
                
                .team {
                    margin: 0px;
                    display: flex;
                }
                
                // footer {
                //     display: flex;
                //     color: white;
                //     background-color: rgb(12, 0, 119);
                //     opacity: 0.8;
                // }
                // .fa-facebook {
                //     background: #3B5998;
                //     color: white;
                // }
                // .fa-twitter {
                //     background: #55ACEE;
                //     color: white;
                // }
                // .fa-google {
                //     background: #dd4b39;
                //     color: white;
                // }
                .team {
                    width: 100%;
                    display: flex;
                }
                
                // .ani {
                //     animation-duration: infinite;
                //     animation-name: move;
                // }
                // @keyframes move {
                //     from {
                //         left: 0px;
                //     }
                //     to {
                //         left: 5%;
                //     }
                // }
                .page-footer {
                    background-color: rgb(12, 11, 11);
                    padding: 1em;
                    display: flex;
                    color: white;
                }
                
                .ani {
                    -webkit-animation: mymove 5s infinite;
                    /* Safari 4.0 - 8.0 */
                    animation: mymove 5s infinite;
                }
                
                @-webkit-keyframes mymove {
                    from {
                        left: 0px;
                    }
                    to {
                        left: 200px;
                    }
                }
                
                @keyframes mymove {
                    from {
                        left: 0px;
                    }
                    to {
                        left: 200px;
                    }
                }
                
                .feature {
                    margin: auto;
                    height: auto;
                    font-family: 'Merriweather', serif;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    color: rgb(8, 8, 8);
                    background-image: url("../../assets/pexels-photo-355423 (1).jpg");
                    opacity: .8;
                    // padding: 5px;
                }