<html>
<link href="https://fonts.googleapis.com/css?family=Courgette|Merriweather|Nunito+Sans|Oxygen" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>mercado | The Choice of Discout Shopping</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
    <div class="wtab"><img src="../../assets/logo.jpg" class="tabimg">
        <div>
            <ul>
                <ul>
                    <ul>
                        <ul>
                            <ul>
                                <ul>
                                    <ul>
                                        <ul>
                                            <ul>
                                                <ul></ul>
                                                <ul>
                                                    <ul>
                                                        <ul>
                                                            <ul>
                                                                <ul></ul>

                                                            </ul>
                                                        </ul>
                                                    </ul>
                                                </ul>
                                            </ul>
                                        </ul>
                                    </ul>
                                </ul>

                            </ul>
                        </ul>
                    </ul>
                </ul>
            </ul>

        </div>
        <div></div>
        <div id="Rl">
            <div><a href="#home" class="a1">Home</a></div>
            <div><a href="#features" class="a1">Features</a></div>
            <div><a href="#about" class="a1">About Us</a></div>
            <div><a href="#contacts" class="a1">Contact</a></div>
            <div><a href="sign-in" class="a1">Sign In</a></div>
        </div>
    </div>

    <div class="q">
        <img src="../../assets/4k-cellular-telephone-hand-wallpaper.jpg" alt="imh2" width="102%" height="90%">
    </div>
    <div>
        <h1 class="h">Mercado</h1>
        <h2 class="h">Discount at its best!</h2>
        <h4 class="h">Start saving right now with deals and discounts! There are several options to make your next trip discounted dinner at that special restaurant, concert tickets and the main cinemas in your city. Download the App mercado and do everything by phone,
            from purchase to use the coupon!</h4>
    </div>
    <div class="row">
        <div class="column" style="background-color:rgb(255, 255, 255);">

            <p><img src="../../assets/IPhone_7_Jet_Black.jpg" alt="mob" width="200" height="400"></p>
        </div>
        <div class="column" style="background-color:#ffff;">


            <h1>
                <h1> With the mercado app you can: </h1>
            </h1>
            <li>Get promo codes and special savings alerts for deals near you, instantly on your mobile device </li>
            <li> Buy and redeem mercado deals directly from your mobile device, no need to print vouchers or clip coupons </li>
            <li> Read customer reviews and write your own </li>
            <li>Share deals with friends and family</li>

        </div>
    </div>
    <div class="feature" id="features">
        <ul>
            <ul>
                <ul>
                    <ul>
                        <ul>
                            <ul></ul>
                            <ul></ul>
                            <ul></ul>
                            <ul></ul>
                        </ul>
                    </ul>
                </ul>
            </ul>
        </ul>
        <div class="Feature">
            <h1 style="color:rgb(44, 19, 112)">
                <ul>
                    <ul></ul>
                </ul>Features</h1>
            <div class="row">
                <div class="column" style="background-color:white;">
                    <li>Locate on Map</li>
                    <li>Save time</li>
                    <li>Navigate directly</li>
                    <li>Save Money</li>
                    <li>No Frustration</li>
                    <li>All types of things Available</li>
                    <li>Get Offers</li>
                    <li>Better Life style</li>
                </div>

            </div>
        </div>

    </div>
    <div class="p " id="about ">
        <img src="../../assets/final.png " alt="mob " width="25% " height="25% " class="ani ">
        <h1>
            <ul>
                <ul></ul>
            </ul>
            <h2> </h2>
        </h1>
        <img src="../../assets/app_badge_google.png " alt="playstore " width="25% " height="25% " class="ani ">
        <img src="../../assets/appstore.png " alt="appStore " width="25% " height="25% " class="ani ">


    </div>
    <div>
        <img src="../../assets/team.jpg " alt="team " height="80% " width="101% " margin="-10px ">

    </div>




















    <footer class="page-footer ">
        <ul>
            <h2 id="contacts ">Follow Us </h2>
            <img class="responsive-img " src="../../assets/facebook.png ">
            <img class="responsive-img " src="../../assets/twitter.png ">
            <img class="responsive-img " src="../../assets/google-plus.png ">
            <img class="responsive-img " src="../../assets/linkedin.png ">
            <img class="responsive-img " src="../../assets/github-circle.png ">
        </ul>
    </footer>



</div>

</html>